.modalOverlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
}

.modalContent {
    background-color: var(--background);
    z-index: 50;
    border-radius: 25px;
    position: absolute;
    left: calc(50% - 300px);
    display: block;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    top: calc(50% - 300px);
}
