.row{
    width: 100%;
    display: flex;
    flex-direction: row;    
    justify-content: flex-start;
}

.column{
    width: 50%;
    flex-grow: 1;    
}

.columnContent {
    max-height: 200px;
    overflow: auto;
}

.doneOrder {
    color: var(--colors-interface-success);
}