.app-burger {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.app-burger-row {
  display: flex;
  flex-direction: column;
}

.app-burger-paddings {
  padding-left: 128px;
  padding-right: 128px;
}

.app-burger-main {
  flex: 1 1 auto;
  overflow-y: hidden;
  min-height: 0px;
}

@media screen and (max-width: 1600px) {
  .app-burger-paddings {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (max-width: 1000px) {
  .app-burger-paddings {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 819px) {
  .app-burger-paddings {
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media screen and (max-width: 500px) {
  .app-burger-paddings {
    padding-left: 1px;
    padding-right: 1px;
  }
}

.app-burger-section{
  min-height: 300px;
}

.app-burger-tabs{
  display: flex;       
}

@media screen and (max-width: 630px) {
  .app-burger-tabs {
    display: block;
  }
}

