.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    gap: 15px;    
    align-items: center;
    background-color: var(--background-element);
}

.baseItem{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;  
}

.item{
    composes: baseItem;  
    flex-wrap: nowrap;   
    color: var(--text-inactive-color); 
}

.logoItem{
    composes: baseItem;  
    justify-content: 'center';        
}

.itemTitle {
    padding-left: 4px !important;
    padding-top: 2px !important;
}

/* Скрыть .itemTitle при маленьких экранах */
@media screen and (max-width: 810px) {
    .itemTitle {
        display: none;
    }
}


.link {
    text-decoration: none;    
}


.selected {
    color: var(--text-primary-color);
}

.logoWrapper{
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
}


